.project {
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
  }
}

.project-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
  margin-bottom: -30px;
}

.project-item {
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
  }
  margin-bottom: 30px;
  border-bottom: 1px solid #eeeeee;
  transition: box-shadow 250ms linear;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  img {
    width: 100%;
  }
}

.project-item-wrap {
  position: relative;
  overflow: hidden;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}
.project-item-top-text {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.5;
  height: 100%;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms linear;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 64px 23px;
  align-items: center;
  justify-content: center;
  display: flex;
  .project-item:hover & {
    transform: translateY(0);
  }
}

.project-item-botton {
  padding-top: 20px;
  padding-bottom: 20px;
}

.project-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
}

.project-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-top: 4px;
}
