.section-team {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-team--title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  // margin-bottom: 0px;
  margin-bottom: 30px;
}

.section-team__list {
  margin-bottom: -30px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
  }
}

.section-team__item {
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
  }
  margin-bottom: 30px;
  img {
    width: 100%;
  }
}

.section-team__botton {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.section-team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-bottom: 10px;
}

.section-team__text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 16px;
}

// Соц сети

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__item {
  width: 44px;
  height: 44px;
  display: block;
  border-radius: 50%;
}

.social-list__item + .social-list__item {
  margin-left: 10px;
}

.social-list__link {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms linear;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    background-color: #2196f3;
  }
}

.social-list__icon {
  fill: #afb1b8;
  transition: color 250ms linear;
  .social-list__link:focus &,
  .social-list__link:hover & {
    fill: #fff;
  }
}
