.section-work {
  padding-bottom: 94px;
}

.section-work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.work-list {
  display: flex;
  margin-top: 50px;
}
.work-list__item:not(:last-child) {
  margin-right: 30px;
}
.work-list__wrap {
  position: relative;
}
.work-list__text {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
  color: #ffffff;
  overflow: auto;
  width: 100%;
  height: 70px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  padding: 27px;
}
@media screen and (max-width: 1199px) {
  .section-work {
    visibility: hidden;
    margin: 0;
    padding: 0;
    height: 0;
  }
}
